{% extends 'master.html' %}


{% block element %}
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      h2{
        text-align: center;
      }

      a{
        text-decoration: none;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>


    <h2>Student List</h2>
    <h4><a href="{% url 'addStudent' %}">Add Student</a></h4>

    <table>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
      </tr>

      {% for student in student_data %}
      <tr>
        <td>{{student.name}}</td>
        <td>{{student.address}}</td>
        <td>{{student.phone}}</td>
        
      </tr>
      {% endfor %}
    </table>
{% endblock element %}
    

