{% extends 'master/base.html' %}

{% block content %}
  <h1 class="text-center mt-3">Student List</h1>
  <a class="btn btn-primary mb-3" href="{% url 'add_student' %}">Add Student</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for student in student_data %}
        <tr>
          <td>{{student.name}}</td>
          <td>{{student.address}}</td>
          <td>{{student.age}}</td>
          <td>{{student.phone}}</td>
          <td>
            <a class="btn btn-primary" href="{% url 'editStudent' student.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'deleteStudent' student.id %}">Delete</a>
            <a class="btn btn-info" href="{% url 'viewStudent' student.id %}">View</a>
          </td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
